.page-body {
  display: block;
}

.tshirts {
  width: 750px;
  overflow: hidden;
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-content: space-evenly;
  flex: auto;
}

.recommendations {
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-content: space-evenly;
  flex: auto;
}

.recommended {
  height: 250px;
  margin-top: 20px;
  margin-bottom: 7px;
  text-align: center;
}

.mech-names {
  width: 750px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  align-content: space-evenly;
  flex: auto;
  word-wrap: break-word;
}

.mech-name {
  margin: 10px;
  width: 150px;
  font-weight: bold;
}

.tshirt {
  width: 125px;
  height: 250px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .tshirts {
    width: 275px;
    min-width: 275px;
  }

  .mech-names {
    width: 400px;
    min-width: 400px;
  }

  .recommendations {
    width: 300px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .tshirts {
    width: 550px;
  }

  .recommendations {
    width: 500px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .tshirts {
    width: 550px;
  }

  .mech-names {
    width: 700px;
  }

  .recommendations {
    width: 700px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .mech-names,
  .tshirts {
    width: 825px;
  }

  .recommendations {
    width: 900px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
